
<div class="container text-center mb-3">
    <hr>
    <h2 class="titulo-productos">¡¡Hola!! Esta es la página de {{titulo}}</h2>
    <hr>
    <h4>Aquí verás la información de los productos existentes</h4>
</div>

{{! Carrusel de imágenes desde Bootstrap}}
{{! Pendientes de personalizar:
    - Tamaño de imágenes: ver si se puede crear un marco para darle un tamaño fijo a las imágenes
    - Borde de texto: agregarle un borde al texto sobre las imágenes para hacerlo más legible}}
<div class="container">
    <div id="carruselProductos" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carruselProductos" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carruselProductos" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carruselProductos" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carruselProductos" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carruselProductos" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carruselProductos" data-bs-slide-to="5" aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="/img/gondolas.jpg" class="d-block w-100" alt="Góndolas del Supermercado">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Supermercado</h5>
                    <p>Amplias superficies en exposición</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="/img/verduras.jpg" class="d-block w-100" alt="Productos frescos">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Productos Frescos</h5>
                    <p>Productos frescos y de estación</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="/img/lacteos.jpg" class="d-block w-100" alt="Lácteos">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Variedad de Lácteos</h5>
                    <p>Góndolas frías para mantener los productos frescos</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="/img/preciosJustos.jpg" class="d-block w-100" alt="Precios Justos">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Precios Justos</h5>
                    <p>Adherimos al programa con la totalidad de los productos</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="/img/cajas.jpg" class="d-block w-100" alt="Cajas">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Muchas Cajas</h5>
                    <p>Contamos con gran cantidad de cajas para mejorar tu experiencia</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="/img/covid.jpg" class="d-block w-100" alt="Protocolo CoViD">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Protocolo CoViD</h5>
                    <p>Seguimos el protocolo para evitar la transmisión del CoViD-19</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carruselProductos" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carruselProductos" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container text-center mb-1">
    <hr>
    <h3 class="titulo-productos">Listado de Productos</h3>
    <hr>
</div>

{{! Tabla de Productos registrados en la Base de Datos}}

<div class="container mb-3">
    <table class="table table-sm table-success table-striped table-hover" id="tablaProductos">
        <thead class="table-light">
            <tr>
                <th scope="col">#id</th>
                <th scope="col">Producto</th>
                <th scope="col" class="text-center">Precio Unitario</th>
                <th scope="col">Descripción</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider align-middle">
            {{#each datosProductos}}
            <tr>
                <th scope="row">{{ idProducto }}</th>
                <td>{{ nombreProducto }}</td>
                <td class="text-center">$ {{ precioProducto }}</td>
                <td>{{ descripcionProducto }}</td>
                <td>
                    <button type="button" class="btn btn-danger delete" data-bs-toggle="modal" data-bs-target="#modalDelete" data-iddelete="{{idProducto}}" data-nombredelete="{{nombreProducto}}" data-preciodelete="{{precioProducto}}" data-descripciondelete="{{descripcionProducto}}">Eliminar</button>
                    <button type="button" class="btn btn-primary update" data-bs-toggle="modal" data-bs-target="#modalUpdate" data-id="{{idProducto}}" data-nombre="{{nombreProducto}}" data-precio="{{precioProducto}}" data-descripcion="{{descripcionProducto}}">Modificar</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{! Modal para el Delete desde Bootstrap}}
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="/delete" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">¿Desea eliminar este registro?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fs-6 fw-semibold"><span id="nombreDelete">Nombre</span> - $  <span id="precioDelete">Precio</span> - <span id="descripcionDelete">Descripción</span></p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="idProducto" id="idProductoDelete">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Descartar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{! Modal para el Update desde Bootstrap}}
<div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="/update" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Producto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nombre" class="col-form-label">Nombre del Producto:</label>
                        <input type="text" class="form-control" name="nombre" id="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="precio" class="col-form-label">Precio unitario:</label>
                        <input type="number" class="form-control" name="precio" id="precio" required>
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="col-form-label">Descripción del Producto:</label>
                        <textarea class="form-control" name="descripcion" id="descripcion" rows="2" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="idProducto" id="idProducto">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Descartar</button>
                    <button type="submit" class="btn btn-success">Modificar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

<script>
    // JQuery para el uso del Modal y para pasar la información al Modal y por este al backend:
    $(document).ready(function() {
        $('#tablaProductos').on('click', '.delete', function() {
            //Creación de variables para pasarle la información al Modal
            let idModalDelete = $(this).data('iddelete');
            let nombreModalDelete = $(this).data('nombredelete');
            let precioModalDelete = $(this).data('preciodelete');
            let descripcionModalDelete = $(this).data('descripciondelete');
            $('#idProductoDelete').val(idModalDelete);
            $('#nombreDelete').html(nombreModalDelete);
            $('#precioDelete').html(precioModalDelete);
            $('#descripcionDelete').html(descripcionModalDelete);
            /* Comando para mostrar el Modal si no tuviera Bootstrap
            $(modalDelete).modal('show') */
        })

        //Modal del Update
        $('#tablaProductos').on('click', '.update', function() {
            //Creación de variables para pasarle la información al Modal
            let idModal = $(this).data('id');
            let nombreModal = $(this).data('nombre');
            let precioModal = $(this).data('precio');
            let descripcionModal = $(this).data('descripcion');
            $('#idProducto').val(idModal);
            $('#nombre').val(nombreModal);
            $('#precio').val(precioModal);
            $('#descripcion').val(descripcionModal);
            /* Comando para mostrar el Modal si no tuviera Bootstrap
            $(modalUpdate).modal('show') */
        })
    })
</script>